{% comment %}
Placeholder to allow defining custom head. You can put favicons and other custom header fields here
{% endcomment %}


<script type="module" src="./assets/sanscript.js"></script>
<script type="module" src="./assets/transliterate.js"></script>

<div class="headerDiv">
    <div class="transliterationDropdownDiv">
        <select id="transliterationDropdown" class="transliterationDropdown">
            <option class="transliterateOption" value="devanagari">Devanagari</option>
            <option class="transliterateOption" value="telugu">Telugu</option>
            <option class="transliterateOption" value="hk">Harvard-Kyoto</option>
            <option class="transliterateOption" value="bengali">Bengali</option>
            <option class="transliterateOption" value="gujarati">Gujarati</option>
            <option class="transliterateOption" value="gurmukhi">Gurmukhi</option>
            <option class="transliterateOption" value="kannada">Kannada</option>
            <option class="transliterateOption" value="malayalam">Malayalam</option>
            <option class="transliterateOption" value="oriya">Oriya</option>
            <option class="transliterateOption" value="tamil">Tamil</option>
            <option class="transliterateOption" value="iast">International Alphabet of Sanskrit Transliteration</option>
            <option class="transliterateOption" value="itrans">ITRANS</option>
            <option class="transliterateOption" value="itrans_dravidian">ITRANS with support for Dravidian short "e"
                and"o"</option>
            <option class="transliterateOption" value="kolkata">National Library at Kolkata</option>
            <option class="transliterateOption" value="slp1">Sanskrit Library Phonetic Basic</option>
            <option class="transliterateOption" value="velthuis">Velthuis</option>
            <option class="transliterateOption" value="wx">WX</option>
        </select>
    </div>
</div>

<style>
    /* Light Mode */

    .transliterated_text {
        margin: auto;
        height: max-content;
        width: max-content;
    }

    .headerDiv {
        margin: auto;
        position: fixed;
        background-color: transparent;
        color: #000000;
        width: fit-content;
    }

    .transliterationDropdownDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #transliterationDropdown {
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        margin-top: 0.75rem;
        margin-bottom: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.5rem;
        text-align: center;
        border-radius: 0.5rem;
        border-width: 1px;
        border-color: rgb(209, 213, 219);
        background-color: rgb(249, 250, 251);
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: rgba(17, 24, 39, 1);
    }

    /* Dark Mode */
    @media (prefers-color-scheme: dark) {
        .headerDiv {
            background-color: transparent;
            color: #ffffff;
        }

        #transliterationDropdown {
            border-color: rgb(60, 63, 68);
            background-color: rgb(40, 42, 47);
            color: rgba(255, 255, 255, 0.9);
        }
    }
</style>